<div class="background"><h1>Luis' Weird CraigsList</h1>
</div>
<button class = "button" type="button">Sign In</button>
<div class="list">
<% @categories.each do |category| %>
  <li><a class ="category"><%= category.name %></a><br><%= link_to "View", category_path(category.id)%></li>
  </tr>
<%end%>
</div>

